@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

/*Estilo para la pagina principal*/



:root {
  --shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.05);
}

body {
  font-family: "Comfortaa", cursive;

  padding: 0%;
  margin: 0%;
  background-image: url(Background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  border: solid 1px rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  backdrop-filter: blur(20px);
  width: 50%;
  margin: 0 auto;
  height: 500px;
  box-shadow: var(--shadow);
  margin-top: 3.9%;
}
.sidebar {
  /*border: 4px solid black;*/
  height: 100%;
  width: 47.7%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
  position: fixed;
}

.sidebar img {
  margin-bottom: 0px;
  display: flex;
  border-radius: 4%;
  margin-top: 20px;
  margin-left: 50px;
}

.sidebar h2 {
  font-size: 15px;
  color: seashell;
  text-align: left;
  width: 90%;
  height: 6%;
  margin-left: 110px;
  margin-top: 32px;
}

.habilidades #boton {
  display: block;
  margin-top: 30px;
  width: 50%;
  margin-left: 25%;
}

.habilidades {
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  width: 52.6%;
  margin-left: 47.5%;
  height: 100%;
  display: block;
  border-radius: 5px;
}

.habilidades h1 {
  font-size: 20px;
  padding-top: 20px;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar1 {
  width: 80%;
  height: 20px;
  background-color: green;
  border: 2px solid black;
  margin-left: 10%;
}

#myBar2 {
  width: 70%;
  height: 20px;
  background-color: green;
  border: 2px solid black;
  margin-left: 10%;
}

#myBar3 {
  width: 40%;
  height: 20px;
  background-color: green;
  border: 2px solid black;
  margin-left: 10%;
}

.icono {
  width: 30px;
  height: 30px;
  position: absolute;
  float: left;
}
